body{
  background-color: rgb(255, 255, 255);
}

.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;

}



a:link {
  text-decoration: none;
}

a:hover{
  color: rgb(255, 0, 0);
}

a:visited {
  color: black;
}

.App {
  text-align: center;
}