.App {
  text-align: center;
}
.appmenu {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


a:link {
  text-decoration: none;
}

a:hover{
  color: rgb(255, 0, 0);
}
